// Primary
$blue-main-bg: hsl(233, 47%, 7%);
$blue-card-bg: hsl(244, 38%, 16%);
$violet-accent: hsl(277, 64%, 61%);
//Neutral
$white: hsl(0, 0%, 100%);
$white-main-p: hsla(0, 0%, 100%, 0.75);
$white-stat-headings: hsla(0, 0%, 100%, 0.6);

//Body Copy Font Size
$body-copy: 15px;

//Font Weights
$regular: 400;
$bold: 700;

@mixin media-lg {
	@media only screen and (min-width: 820px) {
		@content;
	}
}
