@include media-lg {
    .main__card {
        width: 800px;
        display: grid;
        grid-template: auto / 1fr 1fr;

        .banner {
            grid-area: 1 / 2 / 3 / 3;

            img {
                border-radius: 0 2% 2% 0;
            }

            &::after {
                height: 100% - 1%;
                border-radius: 0 2% 2% 0;
            }
        }

        .content {
            grid-area: 1 / 1 / 3 / 2;
            text-align: left;
            width: 80%;

            h1 {
                width: 80%;
                margin-top: 3rem;
                font-size: 1.5rem;
            }

            p {
                margin-top: 1rem;
                width: 80%;
            }

            &__stats {
                flex-direction: row;
                justify-content: flex-start;
                margin-top: -0.3rem;

                .stat-item {
                    margin-right: 3rem;

                    h1 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}