@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import "config", "card";

//Universals

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 15px;
}

h1 {
    color: $white;
    font-weight: $bold;
}

p {
    color: $white-main-p;
}

main {
    background-color: $blue-main-bg;
    height: 100vh;
    display: flex;
    align-items: center;
}